{% extends 'base.html.twig' %}

{% block title %}Likes{% endblock %}

{% block body %}
    <h1>Likes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ like.id }}</td>
            </tr>
            <tr>
                <th>IDPost</th>
                <td>{{ like.IDPost }}</td>
            </tr>
            <tr>
                <th>IdUser</th>
                <td>{{ like.IdUser }}</td>
            </tr>
            <tr>
                <th>IsLiked</th>
                <td>{{ like.IsLiked }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_likes_index') }}">back to list</a>

    <a href="{{ path('app_likes_edit', {'id': like.id}) }}">edit</a>

    {{ include('likes/_delete_form.html.twig') }}
{% endblock %}
