<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        @page {
            margin: 1mm;
        }
        .header {
            position: fixed;
            top: 0mm;
            right: 10mm;
        }
        footer {
            position: fixed;
            bottom: 0;
            right: 0;
            height: 2cm;
            margin: 0cm 2cm 0cm;
        }
        .title {
            text-align: center;
            margin-bottom: 20mm;
            font-size: 18pt;
            font-weight: bold;
        }
        .table-container {
            width: 100%;
            overflow: hidden;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            page-break-inside: auto;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: red; /* Change header color to red */
            color: white; /* Ensure text is readable */
        }
        .page-break {
            page-break-before: always;
        }
    </style>
</head>
<body>
<header>
   
    <div class="title" >
      Post List
    </div>
    </header>
 <footer>
        <div style="font-size: 15px;margin-left: 10px">
            Adresse : Technopole Ghazela Ariana</div>
        <div style="font-size: 15px;margin-left: 10px">
            Numéro : +216 55 596 226</div>
        <div style="font-size: 15px;margin-left: 10px">
            E-mail : Khadamni@esprit.tn</div>
    </footer>
    <div class="table-container">
        <table>
             <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Image</th>
                <th>CreatedAt</th>
                <th>UpdateAt</th>
              
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.content }}</td>
              <td>
                {% if post.Image %}
                    <img src="{{ asset('uploads/' ~ post.Image) }}"  style="width: auto; height: auto;">
                {% else %}
                    Pas de photo
                {% endif %}
            </td>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ post.updateAt ? post.updateAt|date('Y-m-d H:i:s') : '' }}</td>
              
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</body>
</html>
